.header-container {
  display: flex;
  justify-content: space-between;  
  align-items: center;  
  padding: 20px 30px;  
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Jersey_20";

}

.logo {
  flex-shrink: 0;  
  width: auto;  
  height: auto;
}

/* navigation*/
.main-nav {
  display: flex;  
  align-items: center;  
  list-style: none;  
  margin-left: auto;  
  padding: 0;  /* 余白削除 */
  font: "Jersey_20";


}

.main-nav li {
  margin: 0 15px;  
}
.main-nav li a {
  text-decoration: none; 
  color: #333; 
  font-weight: bold;
}

/* amburger-menu button */
.hamburger-container {
  margin-left: 0;  
}

.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  font: "Jersey_20";
}

.logged-in {
  font-weight: bold;
  font-family: "Jersey_20";
}


/* hamburger-menu */
.hamburger-menu-container {
  display: none; 
  position: absolute;
  top: 190px;  /* below the header */
  right: 30px;  /* right */
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;

}

.hamburger-menu {
  list-style: none;
  margin: 0;
  padding: 10px;

}

.hamburger-menu li {
  margin: 10px 0;

}

/* open when it's clicked */
.hamburger-menu-container.active {
  display: block;
}
